body {
  font-family: 'ABeeZee';
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navhead {
  background-color: #000;
  text-align: left;
  color: white;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-tagline {
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

.tagline {
  color: white;
  font-size: 18px;
  opacity: 0.8;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  position: relative;
}

header nav li a:hover {
  color: #e50914; /* Netflix red color */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  width: 200px;
  transition: border-color 0.3s ease, width 0.3s ease;
}

.search-input:focus {
  border-color: #e50914; /* Netflix red color on focus */
  width: 250px;
}

.search-button {
  padding: 10px 20px;
  background-color: #e50914; /* Netflix red color */
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #ff0a16; /* Slightly darker red on hover */
}

header nav li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e50914; /* Netflix red color */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

header nav li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
