/* Product.css */

.product {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 8px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* Product.css */
.product-image {
  width: 100%;
  max-width: 200px; /* Adjust the max-width as needed */
  height: auto;
  border-radius: 10px;
  margin-top: 10px; /* Add margin for spacing */
}
