.addbox {
    font-family: 'ABeeZee';
    font-size: 22px;
    margin: 0;
  }
  
  header {
    background-color: #000045;
    text-align: left;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-tagline {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
  }
  
  .tagline {
    color: white;
    font-size: 18px;
    opacity: 0.8;
  }
  
  nav {
    background-color: #000045;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="datetime-local"],
  textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
  }
  
  textarea {
    height: 120px;
  }
  
  button {
    padding: 12px 24px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #003366;
  }
  
  .image-video-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .image-video-input input {
    width: calc(50% - 10px);
  }
  
  .note {
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-size: 16px;
    opacity: 0.8;
  }
  