/* Login.css */

.login-outer-box {
  font-family: 'ABeeZee';
  font-size: 18px;
  background: linear-gradient(to right, #111, #111);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: #fff;
}

.container {
  max-width: 400px;
  width: 90%;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
}

.bitsbids-text {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #111;
  font-size: 16px;
}

.forgot-password {
  text-align: right;
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

.signup-link {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #ccc;
}

#btn {
  background-color: #e50914; /* Netflix red */
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  transition: background-color 0.3s ease;
  outline: none;
}

#btn:hover {
  background-color: #b9070a; /* Darker shade on hover */
}
